<table class="table table-striped">
    <thead>
        <th>S.No</th>
        <th>Product Name</th>
        <th>Price</th>
        <th><input type="text" class="form-control" placeholder="Search By Name"
             [(ngModel)]="searchCriteria"/></th>
    </thead>
    <tbody>
        <tr *ngFor="let p of productList|search:'price':searchCriteria">
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td>{{p.shippingDate|date:'MM/dd/yyyy'}}</td>
            <td><button class="btn btn-primary" (click)="addToCart(p)">+</button></td>
            
        </tr>
    </tbody>
</table>

<pre>{{productList|json}}</pre>

