<form class="container col-md-4 mt-5" #form="ngForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input
      type="email"
      class="form-control"
      id="emailAddress"
      name="emailAddress"
      required
      minlength=5
      #emailAddress ="ngModel"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
     [(ngModel)]="userDetails.email"
    />
    <!-- <div  class="alert alert-danger" *ngIf="!emailAddress.required && emailAddress.dirty">Email is required</div> -->
    <div  class="alert alert-danger" *ngIf="emailAddress.errors?.pattern">Invalid Email</div>
    <div  class="alert alert-danger" *ngIf="emailAddress.errors?.required">Email Required</div>
    <div  class="alert alert-danger" *ngIf="emailAddress.errors?.minlength">Email minimum 5</div>
  </div>
  
  
  
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      [(ngModel)]="userDetails.password"
    />
  </div>

  <div class="form-group">
    <label for="fname">First Name</label>
    <input
      type="text"
      class="form-control"
      id="fname"
      name="fname"
      [(ngModel)]="userDetails.firstName"
    />
  </div>

  <div class="form-group">
    <label for="lname">Last Name</label>
    <input
      type="text"
      class="form-control"
      id="lname"
      name="lname"
      [(ngModel)]="userDetails.lastName"
    />
  </div>

  <div class="form-group">
    <label for="age">Age</label>
    <input
      type="text"
      class="form-control"
      id="age"
      name="age"
      [(ngModel)]="-userDetails.age"
    />
  </div>
  <div class="form-group">
    <label for="country">Country</label>
    <app-dropdown [items]="newList" (dataChange)="handleCountryChange($event)"></app-dropdown>
    <!-- <select class="form-control" [(ngModel)]="userDetails.country"
    name="country"
    id="country">
      <option value="">Select Country</option>
      <option value ={{c.alpha2Code}} 
      *ngFor="let c of countryList">
      {{c.name}}</option>
    </select> -->
  </div>

  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="gender"
      id="male"
      value="M"
            [(ngModel)]="userDetails.gender"
    />
    <label class="form-check-label" for="male">Male</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="gender"
      id="female"
      value="F"
      [(ngModel)]="userDetails.gender"
    />
    <label class="form-check-label" for="female">Female</label>
  </div>

  <div class="form-group form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="agreeTerms"
      name="agreeTerms"
      [(ngModel)]="userDetails.agreeTerms"
    />
    <label class="form-check-label" for="exampleCheck1">Agree Terms </label>
  </div>
  <button (click)="register()"
  [disabled]='!userDetails.agreeTerms'
  
  class="btn btn-primary">Submit</button>
</form>


<div class="col-md-4">
        <pre>{{userDetails|json}}</pre>
    </div>